{% extends "nav_bar.html" %}

{% block content %}
    <h1>D&D Character Builder</h1>
    <form action="/create_character" method="post">
        <fieldset>
            <legend>Basic Information</legend>
            <div>
                <label for="char_name">Character Name:</label>
                <input type="text" id="char_name" name="char_name" aria-label="Character Name" required>
            </div>

            <div>
                <label for="char_race">Race:</label>
                <select id="char_race" name="char_race" aria-label="Character Race">
                    <option value="human">Human</option>
                    <option value="elf">Elf</option>
                    <option value="dwarf">Dwarf</option>
                    <option value="halfling">Halfling</option>
                </select>
            </div>

            <div>
                <label for="char_class">Class:</label>
                <select id="char_class" name="char_class" aria-label="Character Class">
                    <option value="fighter">Fighter</option>
                    <option value="rogue">Rogue</option>
                    <option value="wizard">Wizard</option>
                    <option value="cleric">Cleric</option>
                </select>
            </div>
        </fieldset>

        <fieldset>
			<legend>Attributes</legend>
			<div>
				<label for="strength">Strength:</label>
				<input type="number" id="strength" name="strength" min="1" max="20" aria-label="Strength" required>
			</div>
			<div>
				<label for="dexterity">Dexterity:</label>
				<input type="number" id="dexterity" name="dexterity" min="1" max="20" aria-label="Dexterity" required>
			</div>
			<div>
				<label for="constitution">Constitution:</label>
				<input type="number" id="constitution" name="constitution" min="1" max="20" aria-label="Constitution" required>
			</div>
			<div>
				<label for="intelligence">Intelligence:</label>
				<input type="number" id="intelligence" name="intelligence" min="1" max="20" aria-label="Intelligence" required>
			</div>
			<div>
				<label for="wisdom">Wisdom:</label>
				<input type="number" id="wisdom" name="wisdom" min="1" max="20" aria-label="Wisdom" required>
			</div>
			<div>
				<label for="charisma">Charisma:</label>
				<input type="number" id="charisma" name="charisma" min="1" max="20" aria-label="Charisma" required>
			</div>
			<button type="button" id="reroll">Reroll Attributes</button>
		</fieldset>


        <button type="submit">Create Character</button>
    </form>
    <script src="{{ url_for('static', filename='char_Build_Roll.js') }}"></script>
{% endblock %}
